* {
    margin: 0;
    padding: 0;
}

/* header section style */
.header-container {
    display: flex;
    height: 80vh;
    background-color: rgba(229, 84, 115, 0.10);

    justify-content: center;
    align-items: center;
    gap: 80px;
}

.header-img {
    height: 450px;
}

.header-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 25px;

}

.header-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;

}

.header-btn {
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
    font-size: 15px;
    padding: 15px 30px;
}

/* main section style */
.deal-container {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    height: 60vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
    margin-top: 100px;
    gap: 100px;


}

.deal-img {
    height: 240px;
}

.deal-title {
    color: #272727;
    font-size: 30px;
    margin-bottom: 20px;



}

.deal-text {
    text-align: center;
}

.span {
    color: #E55473;
}

.deal-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 30px;

}

.picture {
    height: 250px;
    width: 200px;
}

.insta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 200px;
    padding-right: 200px;

}

.instagram-container {
    height: 70vh;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.insta-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;

}

.latest-deal {
    text-align: center;
    background-image: url('./Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 40px;
    margin-bottom: 70px;
    border-radius: 5px;
}

.latest-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 10px;

}

.latest-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px ;
}
.email{
 width: 400px;
 height: 40px;
 margin-right: 5px;
 border: none;
 color: black;
 padding-left: 10px;
 border-radius: 5px;
}