* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}

/* header section style */
.header-container {
    display: flex;
    height: 80%;
    background-color: rgba(229, 84, 115, 0.10);
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.header-img {
    height: 450px;
}

.header-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 25px;

}

.header-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;

}

.header-btn {
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
    font-size: 15px;
    padding: 15px 30px;
}

/* main section style */
.deal-container {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    height: 60vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
    margin-top: 100px;
    gap: 100px;


}

.deal-img {
    height: 240px;
}

.deal-title {
    color: #272727;
    font-size: 30px;
    margin-bottom: 20px;



}

.deal-text {
    text-align: center;
}

.span {
    color: #E55473;
}

.deal-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 30px;

}

.picture {
    height: 250px;
    width: 200px;
}

.insta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 200px;
    padding-right: 200px;

}

.instagram-container {
    height: 70vh;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.insta-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;

}

.latest-deal {
    text-align: center;
    background-image: url('./Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 40px;
    margin-bottom: 70px;
    border-radius: 5px;
}

.latest-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 10px;

}

.latest-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
}

.email {
    width: 400px;
    height: 40px;
    margin-right: 5px;
    border: none;
    color: black;
    padding-left: 10px;
    border-radius: 5px;
}

/* footer section style */
.footer-container {
    height: 50vh;
    background-color: black;
}

.footer-text {
    color: white;
    text-align: center;
}

.footer-title {
    padding-top: 80px;
    padding-bottom: 20px;
}

.text {
    font-size: 17px;
    padding-bottom: 30px;
}

.copy {
    color: rgba(255, 255, 255, 0.40);
}

.surprise-container {
    height: 90vh;
    background-color: rgba(229, 84, 115, 0.10);

}

.card-img {
    height: 200px;
    width: 200px
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.cards {
    background-color: rgb(249, 143, 178);
    width: 200px;
    height: 300px;
    color: black;
    border-radius: 10px;

}

.card-title {
    text-align: center;
    padding-top: 30px;
    font-size: 28px;
    padding-bottom: 20px;

}

.card-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.cards-title {
    text-align: center;
    margin-top: 10px;
}

.pictures {
    height: 250px;
    height: 250px;
}

.picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.feature-container {
    height: 80vh;
    padding-left: 200px;
    padding-right: 200px;
}

.picture-card-1 {
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 50px 30px 0px 30px;
    margin-bottom: 20px;
   
}

.picture-card-2 {
    background-color: rgba(5, 151, 160, 0.15);
    padding: 50px 10px 5px 10px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 20px;

}

.picture-card-3 {
    background-color: rgba(71, 125, 17, 0.15);
    padding: 50px 40px 0px 40px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 20px;

}

.picture-anchor {
    text-align: center;

}
.picture-anchor a {

    /* text-decoration: none; */
    font-weight: 700;
    margin-top: 20px;
    color: black
}




.feature-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
}

.feature-text {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;   
}
 .anchor {
    margin-top: 30px !important;

}
.card-1{
    padding-top: 4px;
    text-align: center;
}
.title{
    text-decoration: underline;
    color: #272727;
    font-size: 18px;
    font-weight: 700;
}
